# Concordia Bootcamps Data Science Admissions Challenge

In [6]:
#Concordia Bootcamps Data Science Admissions Challenge
import pandas as pd

In [7]:
import pandas as pd
df = pd.read_csv('results.csv')

In [8]:
# Explore the df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

### Q1: What is the average number of goals for the home team?
The average number of goasl for the home team is 1.7393136930376256

In [9]:
mean_home_score = df['home_score'].mean()

print("Mean of 'home_score' column:", mean_home_score)

Mean of 'home_score' column: 1.7393136930376256

### Q2: What is the average number of goals for the away team?
The average number of goals for the away team is 1.1782412004854905

In [10]:
mean_away_score = df['away_score'].mean()

print("Mean of 'away_score' column:", mean_away_score)

Mean of 'away_score' column: 1.1782412004854905

### Q3: What is the country with the highest overall home score?

In [11]:
max_home_score_index = df['home_score'].idxmax()

country_with_max_home_score = df.loc[max_home_score_index, 'country']

print("Country with the highest overall home score:", country_with_max_home_score)

Country with the highest overall home score: Australia

### Q4: What are the top 3 type of tournaments?
The top 3 tournament types are Friendly, FIFA World Cup qualification, and UEFA Euro qualification.

In [12]:
tournament_type_counts = df['tournament'].value_counts()

top_3_tournament_types = tournament_type_counts.head(3)

print("Top 3 tournament:")
print(top_3_tournament_types)

Top 3 tournament:
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: tournament, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?
Brazil is the country with the highest overall FIFA World Cup goals

In [13]:
fifa_df = df[df['tournament'] == 'FIFA World Cup']

print(fifa_df.head())

            date  home_team      away_team  home_score  away_score  \
1311  1930-07-13    Belgium  United States           0           3
1312  1930-07-13     France         Mexico           4           1
1313  1930-07-14     Brazil     Yugoslavia           1           2
1314  1930-07-14       Peru        Romania           1           3
1315  1930-07-15  Argentina         France           1           0

          tournament        city  country  neutral
1311  FIFA World Cup  Montevideo  Uruguay     True
1312  FIFA World Cup  Montevideo  Uruguay     True
1313  FIFA World Cup  Montevideo  Uruguay     True
1314  FIFA World Cup  Montevideo  Uruguay     True
1315  FIFA World Cup  Montevideo  Uruguay     True

In [14]:
fifa_df['total_score'] = fifa_df.apply(lambda row: row['home_score'] + row['away_score'], axis=1)

print(fifa_df.head())

            date  home_team      away_team  home_score  away_score  \
1311  1930-07-13    Belgium  United States           0           3
1312  1930-07-13     France         Mexico           4           1
1313  1930-07-14     Brazil     Yugoslavia           1           2
1314  1930-07-14       Peru        Romania           1           3
1315  1930-07-15  Argentina         France           1           0

          tournament        city  country  neutral  total_score
1311  FIFA World Cup  Montevideo  Uruguay     True            3
1312  FIFA World Cup  Montevideo  Uruguay     True            5
1313  FIFA World Cup  Montevideo  Uruguay     True            3
1314  FIFA World Cup  Montevideo  Uruguay     True            4
1315  FIFA World Cup  Montevideo  Uruguay     True            1

<ipython-input-14-fa6143d5153b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df['total_score'] = fifa_df.apply(lambda row: row['home_score'] + row['away_score'], axis=1)

In [15]:
country_total_scores = fifa_df.groupby('country')['total_score'].sum()

country_with_highest_total_score = country_total_scores.idxmax()

print("Country with the highest total score in FIFA World Cup matches:", country_with_highest_total_score)

Country with the highest total score in FIFA World Cup matches: Brazil